
body { margin:0em; background:#1c1c1a; font-family:roboto; }


header { background:url("../images/video.png"); height:36em; margin:0em 2em;
    display:flex; justify-content:center; align-items:center; }


article { position:absolute; width:710px; }

article h1 { text-transform:uppercase; font-weight:100; font-size:40px; margin-bottom:20px; color:white; }

article h2 { color:#FFFF27; font-style:oblique; font-size:28px; }

article p { font-size:18.6px; line-height:30px; color:white; }



section { position:relative; display:flex; overflow:hidden; }

section img { transition:0.5s; position:absolute; }



#sec1 { display:block; height:70em; }

#sec1 p { line-height:22px; }

#sec1 #art_africa { top:4.75em; left:5.5em; width:40em; }

#sec1 #art_africa h1 { font-weight:bold; font-size:38px; }

#sec1 #africa { top:1.5em; right:2em; }

#sec1 #man { top:20em; left:-12em; }

#sec1 #art_man { top:32em; right:5em; width:30em; }

#sec1 #art_man h1 { font-weight:bold; font-size:32px; }

#sec1 #art_man p { font-size:16px; }

#sec1 #africa:hover { scale:1; }

#sec1 #art_man span { color:#008b3b; text-decoration:underline; }



#sec2 { height:19em; background:url("../images/section2.png") center; justify-content:center;
    align-items:center; }


#sec3 { height:60em; overflow:hidden; margin-bottom:4em; }

#lamp, #cam { position:absolute; }

#lamp { top:0em; left:13em; transform:rotate(-31.84deg); height:740px; }

#cam { top:12em; left:40em; transform:rotate(17.08deg); height:380px; }

#sec3 img:hover { scale:1.1; }

#objectifs { position:absolute; bottom:0; left:80; width:100%; height:20em; display:flex;
    align-items:center; overflow:hidden; }

#objectifs article { width:40em;; overflow:hidden; }

#objectifs h1 { text-transform:none; font-weight:normal; font-size:35px; font-weight:bold; }

#objectifs span { text-decoration:underline; }

#objectifs .asides { position:absolute; display:flex; left:48em; background:blu; }

#objectifs .asid { width:250px; height:280px; border-radius:15px; transform:skew(-37deg);
    margin:0em 0.5em; overflow:hidden; }

#objectifs .asid img { transform:skew(37deg); margin-left:-7em; }
#objectifs .asid img:hover { scale:1.2; }





#sec4 { flex-direction:column; align-items:center; }


#sec_info { width:35.25em; height:10em; display:flex; flex-direction:column; justify-content:space-around;
    color:white; text-align:center; margin:5em 0; }

#sec_info h1 { text-transform:uppercase; font-size:34px; letter-spacing:-1.5px; }

#sec_info .img { display:flex; justify-content:center; }

#sec_info p { line-height:30px; }


#allasid { display:flex; width:100%; height:400px; overflow:hidden; }

#allasid .asid { min-width:180px; height:400px; border-radius:8px; transform:skew(-23deg);
    margin:0em 2em; overflow:hidden; }

#allasid .asid img { transform:skew(23deg); margin-left:-6em; }

#allasid:hover .asid img { scale:1.2; }




footer { background:#d9d9d9; height:8.5em; overflow:hidden; margin-bottom:5em;
    display:flex; align-items:center; }

footer img { margin:0.5em 1em; }
